@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


.App {
  text-align: center;
  background-color: #F2FDFF;
}

.app-text {
  font-family: 'Mali', cursive;
  margin-left: 10px;
  margin-top: 65px;
  font-size: 50px;
  color: #6C63FF;
}

.button-find {
  margin-top: 50px;
  background-color: #6C63FF;
}

.col-1 {
  width: 100px;
  margin-left: 270px;
}

.col-2 {
  width: 100px;
  margin-left: 270px;
}


.container {
  display: flex;

}

.find-friend-text {
  font-family: 'Mali', cursive;
  margin-left: 250px;
  margin-top: 70px;
  font-size: 48px;
}



.header {
  display: flex;
}

.img-social {
  width: 300px;
  margin-left: 1100px;
  margin-top: -120px;
}

.title-app {
  display: flex;
}

.tree-swing {
  width: 300px;
}

/* For Mobile */
@media only screen and (max-width: 600px) {

  .app-text {
    font-size: 32px;
    margin-top: 70px;
  }

  .col-1 {
    margin-left: 30px;
  }
  .col-2 {
    margin-left: 30px;
  }

  .container {
      display: block;
  }

  .img-social {
    margin-left: 30px;
    margin-top: 30px;
  }

  .find-friend-text {
    margin-left: 40px;
    font-size: 32px;
  }

  .header {
    display: block;
  }
}


