@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.App {
  text-align: center;
  background-color: #F2FDFF;
}

.app-text {
  font-family: 'Mali', cursive;
  margin-left: 10px;
  margin-top: 65px;
  font-size: 50px;
  color: #6C63FF;
}

.container {
  display: flex;
  margin-left: 200px;
}

.find-friend-text {
  font-family: 'Mali', cursive;
  margin-left: 250px;
  margin-top: 70px;
  font-size: 48px;
}



.header {
  display: flex;
}

.img-social {
  width: 300px;
}

.title-app {
  display: flex;
}


